.imgCarrito{
    width: 3rem;
    vertical-align: middle;
    margin-top: 15px;
}

.numeroCarrito{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: white;
    border-radius: 50%;
    color: #1d345d;
}

